<div class="page-section">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-lg-4 py-3">
                <div class="display-4 text-center text-primary"></div>
                <p class="mb-3 font-weight-medium text-lg">Dirección</p>
                <p class="mb-0 text-secondary">Carretera Municipal Libre Mazatlán Higueras Km 3 Colonia Genaro Estrada C.P. 82199 Mazatlán, Sinaloa; México.</p>
            </div>
            <div class="col-lg-4 py-3">
                <div class="display-4 text-center text-primary"></div>
                <p class="mb-3 font-weight-medium text-lg">Teléfono</p>
                <p class="mb-0"><a href="#" class="text-secondary">(669) 180 0695</a></p>
            </div>
            <div class="col-lg-4 py-3">
                <div class="display-4 text-center text-primary"></div>
                <p class="mb-3 font-weight-medium text-lg">Correo</p>
                <p class="mb-0"><a href="#" class="text-secondary">2019030326@upsin.edu.mx</a></p>
                <p class="mb-0"><a href="#" class="text-secondary">2019030404@upsin.edu.mx</a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <form action="#" class="contact-form py-5 px-lg-5">
                    <h2 class="mb-4 font-weight-medium text-secondary">Ponerse en contacto</h2>
                    <div class="row form-group">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label class="text-black" for="fname">Nombre</label>
                            <input type="text" id="fname" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="text-black" for="lname">Apellido</label>
                            <input type="text" id="lname" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="email">Email</label>
                            <input type="email" id="email" class="form-control">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="message">Mensaje</label>
                            <textarea name="message" id="message" cols="30" rows="5" class="form-control" placeholder="Escribe tus notas aqui..."></textarea>
                        </div>
                    </div>

                    <div class="row form-group mt-4">
                        <div class="col-md-12">
                            <input type="Enviar" value="Enviar" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 px-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3665.393568780405!2d-106.37647878524109!3d23.26514491305709!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x869f53930ee12159%3A0xf9610cdfe8f5ff62!2sUniversidad%20Polit%C3%A9cnica%20de%20Sinaloa!5e0!3m2!1ses-419!2smx!4v1635466432355!5m2!1ses-419!2smx"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <!--<div class="maps-container"><div id="google-maps"></div></div>-->
            </div>
        </div>
    </div>
</div>