<div class="container">
    <div class="page-banner home-banner">
        <div class="row align-items-center flex-wrap-reverse h-100">
            <div class="col-md-6 py-5 wow fadeInLeft">
                <h1 class="mb-4">¡Novedades Miriam lo mejor para tu hogar!</h1>
                <p class="text-lg text-grey mb-5">Nuestros productos son de calidad y confiables, no hay mejores artículos para tu hogar como los de Novedades Miriam.</p>

                <link rel="icon" href="img/nm.png">
            </div>
            <div class="col-md-6 py-5 wow zoomIn">
                <div class="img-fluid text-center">

                    <video width="500" height="360" controls autoplay loop>
      <source src="img/Novedades.mp4" type="video/mp4">
  </video>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="img/cub.png" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Cocina</h5>
                        <p align="justify">Echa un vistazo a nuestros productos de cocina, contamos con una gran variedad.</p>
                        <a href="Productos" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="img/cam.png" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Dormitorio</h5>
                        <p>Echa un vistazo a nuestros productos de dormitorios, contamos con una gran variedad.</p>
                        <a href="Productos" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-service wow fadeInUp">
                    <div class="header">
                        <img src="img/taz.png" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Baño</h5>
                        <p>Echa un vistazo a nuestros productos de baño, contamos con una gran variedad.</p>
                        <a href="Productos" class="btn btn-primary">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3 wow fadeInUp">
                <span class="subhead">Acerca de nosotros</span>
                <h2 class="title-section">Su mejor opcion en articulos para el hogar.</h2>
                <div class="divider"></div>

                <p>Una tienda especializada en productos de hogar, con una gran variedad de articulos. Algunos de nuestros clientes suelen preguntar mucho por nuestras colchas de gran calidad.</p>
                <a href="About" class="btn btn-primary mt-3">Leer más</a>
            </div>
            <div class="col-lg-6 py-3 wow fadeInRight">
                <div class="img-fluid py-3 text-center">
                    <img src="img/art.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>