<div class="page-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3">

                <h2 class="title-section">Su mejor opcion en articulos para el hogar.</h2>
                <div class="divider"></div>
                <p>Una tienda especializada en productos de hogar, con una gran variedad de articulos. Algunos de nuestros clientes suelen preguntar mucho por nuestras colchas de gran calidad.</p>
                <p>Nuestra vision es poder ofrecerles a nuestros clientes, productos de calidad y a un precio accesible.</p>


            </div>
            <div class="col-lg-6 py-3">
                <div class="img-fluid py-3 text-center">
                    <img src="img/art.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="text-center">
            <div class="subhead">Nuestros productos </div>
            <h2 class="title-section">Algunos de nuestros productos recientes</h2>
            <div class="divider mx-auto"></div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4 py-3">
                <div class="card-pricing">
                    <div class="header">
                        <div class="pricing-type">Licuadora NINJA</div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h1>2,999<span class="suffix">.00</span></h1>
                        </div>
                        <h5>Licuadora Profesional Plus con Auto IQ - BN701</h5>
                    </div>
                    <div class="body">
                        <img src="img/lic.png">
                        <p></p>
                        <p>Potente motor de 1200 Watts </p>
                        <p>Cuchillas Total Crushing de acero inoxidable</p>
                        <p>Crea bebidas batidas y/o congeladas para toda tu familia</p>
                    </div>
                    <div class="footer">

                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-pricing marked">
                    <div class="header">
                        <div class="pricing-type">Sensor LED</div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h1>590<span class="suffix">.00</span></h1>
                        </div>
                        <h5>Luz Led con Sensor De Movimiento para Taza De Baño</h5>
                    </div>
                    <div class="body">
                        <img src="img/taza.png">
                        <p>Sensor LED activado por movimiento</p>
                        <p>Ultra resistente al agua y se puede limpiar con la mayoría de los productos de limpieza del hogar.</p>
                        <p>Diseño creativo de iluminación: elija entre 8 colores individuales o ciclos de color</p>
                    </div>
                    <div class="footer">

                    </div>
                </div>
            </div>

            <div class="col-lg-4 py-3">
                <div class="card-pricing">
                    <div class="header">
                        <div class="pricing-type">Llave para Cocina</div>
                        <div class="price">
                            <span class="dollar">$</span>
                            <h1>5,699<span class="suffix">.00</span></h1>
                        </div>
                        <h5>Llave para cocina setra monomando mando extraible negro</h5>
                    </div>
                    <div class="body">
                        <img src="img/llav.png">
                        <p>El rociador extraíble ofrece conveniencia para lavar objetos voluminisos</p>
                        <p>El sistema de acoplamiento magnético docknetik asegura el rociador en su lugar</p>


                    </div>
                    <div class="footer">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- .container -->
</div>
<!-- .page-section -->