<div class="container">
    <div class="page-banner">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6">

                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb justify-content-center py-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Productos</li>
                    </ul>
                </nav>
                <h1 class="text-center">Nuestros productos </h1>
            </div>
        </div>
    </div>
</div>



<div class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card-service">
                    <div class="header">
                        <img src="img/cub.png" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Cocina</h5>
                        <p align="justify">Echa un vistazo a nuestros productos de cocina, contamos con una gran variedad.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-service">
                    <div class="header">
                        <img src="img/cam.png" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Dormitorio</h5>
                        <p align="justify">Echa un vistazo a nuestros productos de dormitorios, contamos con una gran variedad.</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-service">
                    <div class="header">
                        <img src="img/taz.png" alt="">
                    </div>
                    <div class="body">
                        <h5 class="text-secondary">Baño</h5>
                        <p align="justify">Echa un vistazo a nuestros productos de baño, contamos con una gran variedad.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <div class="subhead">Productos</div>
            <h2 class="title-section">Cocina</h2>
            <div class="divider mx-auto"></div>

            <div class="row">
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                    <div class="features">
                        <div class="header mb-3">


                        </div>
                        <h5>Cucharas Medidoras Ligeras 4 pz BWTH</h5>
                        <p align="justify">Cucharas medidoras de acero inoxidable.Medidas de las cucharas:Chica 1/4 de cuchara de té (1 ml) Mediana 1/2 cuchara de té (2 ml) Grande 1 cuchara de té (5 ml) Más grande 1 cucharada (15 ml)</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                    <div class="features">
                        <div class="header mb-3">

                        </div>
                        <h5>Batidora HS Planetaria de Mesa 6.5 lts</h5>
                        <p align="justify">1000 W de potencia- 110-120 V, 60HZ 6.5 L 6 niveles Tapa a presión contra salpicadurasINCLUYE: Batidora de 6.5 L Bowl de acero inoxidable Tapa de bowl 1 batidor de masa 1 batidor mezclador 1 batidor de huevo 1 pala (miserable)</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                    <div class="features">
                        <div class="header mb-3">

                        </div>
                        <h5>Set de cuchillos 6 piezas</h5>
                        <p align="justify">Cuisinart C55CNS-6PCS Set de cuchillos y protectores, 6 piezas, color Multicolor, Paquete de 6</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                    <div class="features">
                        <div class="header mb-3">

                        </div>
                        <h5>Juego de recipientes herméticos</h5>
                        <p align="justify">Juego de recipientes herméticos para almacenamiento de alimentos, 7 piezas de plástico sin BPA para alimentos secos y líquidos, 10 cucharas medidoras</p>
                    </div>
                </div>




            </div>
        </div>
    </div>
    <div class="page-section bg-light">
        <div class="container">
            <div class="text-center">
                <div class="subhead">Productos</div>
                <h2 class="title-section">Dormitorio</h2>
                <div class="divider mx-auto"></div>

                <div class="row">
                    <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                        <div class="features">
                            <div class="header mb-3">

                            </div>
                            <h5>Buro kante 60 Tzalam</h5>
                            <p align="justify">Moderno buró, hecho de madera con chapa de tzalam, cuenta con dos cajones.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                        <div class="features">
                            <div class="header mb-3">

                            </div>
                            <h5>Base kante/gambe Tzalam</h5>
                            <p align="justify">Pinta tu hogar de madera con nuestra cálida recámara kante, fabricada con madera de tzalam en tono natural, con líneas definidas y una capa de barniz para dar un acabado semi mate.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                        <div class="features">
                            <div class="header mb-3">

                            </div>
                            <h5>Espejo de pie kante 40 Tzalam</h5>
                            <p align="justify">Moderno espejo de pie de cuerpo completo, hecho de madera con chapa de Tzalam.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                        <div class="features">
                            <div class="header mb-3">

                            </div>
                            <h5>Comoda Aspen 5-caj gris vintage</h5>
                            <p align="justify"> Lleva la elegancia hasta tu recámara con nuestra cómoda aspen estilo vintage.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="page-section bg-light">
            <div class="container">
                <div class="text-center">
                    <div class="subhead">Productos</div>
                    <h2 class="title-section">Baño</h2>
                    <div class="divider mx-auto"></div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                            <div class="features">
                                <div class="header mb-3">

                                </div>
                                <h5>Espejo con brazo articulado</h5>
                                <p align="justify">Colocación a muro, Incluye elementos de fijación para su correcta colocación.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                            <div class="features">
                                <div class="header mb-3">

                                </div>
                                <h5>Regadera H-200</h5>
                                <p align="justify">Regadera de chorro fijo incluye brazo y chapetón, terminado en cromo, modelo H-200, marca Helvex.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                            <div class="features">
                                <div class="header mb-3">

                                </div>
                                <h5>Repisa de cristal-SBSC80</h5>
                                <p align="justify">Colocación a muro, incluye tornillería y soporte para su correcta instalación.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-3 py-3">
                            <div class="features">
                                <div class="header mb-3">

                                </div>
                                <h5>Edition 12-01</h5>
                                <p align="justify">En esta cómoda bañera caben dos personas. Tiene dos cabeceras para tomar un plácido hidromasaje con diseño ergonómico. Línea Edition. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>